<div class="card-example" [attr.data-cy]="'card-offer-engine-' + formatDataCy(offer.title)">
  <div class="card-example__header">
    <h2 class="card-example__title">{{ offer.title }}</h2>
    <p class="card-example__description">{{ offer.description }}</p>
  </div>
  <hr>
  <div class="card-example__body">

    <app-skeleton-offer-engine [type]="offer.type" [config]="offer.skeletonBody"></app-skeleton-offer-engine>

  </div>
  <div class="card-example__footer">
    <button type="button" class="card-example__button" (click)="onAcceptClick()" [disabled]="isProcessing()">Incluir</button>
  </div>
</div>
<br>

