<div class="card-full">
  <div class="image-container">
    <app-skeleton customType="image"></app-skeleton>
  </div>
  <div class="body-container">
    <app-skeleton customType="title"></app-skeleton>
    <app-skeleton customType="text"></app-skeleton>
    <app-skeleton customType="text"></app-skeleton>
  </div>
</div>

<div class="cards-wrapper">
  @for (i of [1,2,3,4]; track i) {
  <div>
    <div class="card">
      <div class="avatar">
        @if (!loading()) {
        <img [src]="user()?.avatar" alt="Avatar" />
        } @else {
        <app-skeleton customType="avatar" width="50px" height="50px"></app-skeleton>
        }
      </div>

      <div class="content">
        @if (!loading()) {
        <h3>{{ user()?.name }}</h3>
        } @else {
        <app-skeleton customType="title" width="6rem" height="1rem"></app-skeleton>
        }

        @if (!loading()) {
        <p>{{ user()?.job }}</p>
        } @else {
        <app-skeleton customType="text" width="10rem" height="1rem"></app-skeleton>
        }

        @if (!loading()) {
        <button type="button">Ver Perfil</button>
        } @else {
        <app-skeleton customType="button" width="100px" height="20px"></app-skeleton>
        }
      </div>
    </div>
  </div>
  }
</div>

@if (error()) {
  <div class="error-box">
    <p>{{ error() }}</p>
    <button type="button" (click)="loadUser()">Tentar novamente</button>
  </div>
}
