@if (listOffers$ | async; as offers) {
  @for (offer of offers; track offer.id; let index = $index) {
    @if (offer.showAlert && (offer | isFirstVisible:offers)) {
      <br>
      <app-card-offer-engine
        [offer]="offer"
        (offerAccepted)="onHandleOfferAccepted()">
      </app-card-offer-engine>
    }
  }
}
<div class="info_report">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, culpa repellendus est, architecto suscipit
  voluptatibus dolor laudantium sint similique cumque sapiente tempora natus reiciendis quisquam incidunt blanditiis aut
  error asperiores.</p>
</div>
