@if (listOffers$ | async; as listOffers) {
  @for (offer of listOffers; track offer.id; let index = $index) {
    @if (offer.showAlert && (offer | isFirstVisible:listOffers)) {
      <app-card-offer
        [offer]="offer"
        (offerAccepted)="onHandleOfferAccepted()">
      </app-card-offer>
    }
  }
}
<div class="info_report">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, culpa repellendus est, architecto suscipit
  voluptatibus dolor laudantium sint similique cumque sapiente tempora natus reiciendis quisquam incidunt blanditiis aut
  error asperiores.</p>
</div>
