<div class="card-example">
  <h1>{{ mainTitle }}</h1>
  <p>{{ mainDescription }}</p>
  <hr>
  <div>
    <h3 class="static-card__title">Resumo C</h3><br>
    <h4 class="static-card__subtitle">Índices</h4>
  </div>
  <div class="static-card__container">
    @for( card of staticCards; track card) {
    <app-mini-card-detail [title]="card.title" [showSkeleton]="true" [company]="card.company" [category]="card.category"></app-mini-card-detail>
    }
  </div>
  <button type="button" class="btn-example">Incluir</button>
</div>
<br><br>
