.static-card__details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.static-card__box {
  width: 100%;
  padding: 1px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}

.static-card__box app-skeleton {
  flex: 1 1 auto; // permite que os skeletons cresçam e encolham conforme necessário
  min-width: 0; // importante para evitar overflow em flex
  max-width: 100%;  // garante que os skeletons não ultrapassem a largura do container
}
