  <div class="static-card__info-body">
    <h3 class="static-card__title">Resumo - Summary</h3><br>
    <h4 class="static-card__subtitle">Total de dívidas: <span class="static-card__box"><app-skeleton customType="text"
          width="350px" height="20px"></app-skeleton></span>
    </h4>
  </div>
  <div class="static-card__container">
    @for( card of staticCards; track card.uiKey) {
    <app-static-mini-card [title]="card.title" [showSkeleton]="true" [uiKey]="card.uiKey"></app-static-mini-card>
    }
  </div>
  <div class="static-card__details">
    @for (detail of [1]; track detail) {
    <div class="static-card__box--rodape">
      <app-skeleton customType="text" width="350px" height="20px"></app-skeleton>
    </div>
    }
  </div>
