.skeleton {
  background: linear-gradient(90deg, #e6e6e6 25%, #f2f2f2 50%, #e6e6e6 75%);
  background-size: 200% 100%;
  border-radius: 6px;
  animation: shimmer 1.5s infinite linear;
  display: block;

  &.text {
    height: 20px;
  }

  &.title {
    height: 24px;
    border-radius: 4px;
  }

  &.image {
    width: 100%;
    height: 200px;
    border-radius: 8px;
  }

  &.circle {
    border-radius: 50%;
  }

  &.button {
    height: 5px;
    border-radius: 8px;
  }

  &.card {
    width: 100%;
    height: 160px;
    border-radius: 10px;
  }

  &.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}

// animação do efeito brilho entrando e saindo
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
